{%- if include.author[1] -%}
{%- assign lastAuthor = include.author | last -%}
{%- for author in include.author -%}
    {%- if site.data.authors[author] -%}
        {%- if author != lastAuthor -%}
        <a class="author-link" href="{{ site.data.authors[author].url }}" target="_blank">{{ author }}</a>,&nbsp;
        {%- else -%}
        <a class="author-link" href="{{ site.data.authors[author].url }}" target="_blank">{{ author }}</a>
        {%- endif -%}
    {%- else -%}
        {%- if author != lastAuthor -%}
        {{ author }},&nbsp;
        {%- else -%}
        {{ author }}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{%- else -%}
    {%- if site.data.authors[include.author] -%}
    <a class="author-link" href="{{ site.data.authors[include.author].url }}" target="_blank">{{ include.author }}</a>
    {%- else -%}
    {{ include.author }}
    {%- endif -%}
{%- endif -%}