<div class="grid">
    {%- for member in site.data.team -%}
    {%- if member.current -%}
    <div class="exec cell -4of12">
        <div class="media">
          <div class="media-left">
            <div class="avatarholder">
                {%- unless member.image -%}
                {{ member.name | slice: 0 }}
                {%- else -%}
                <img src="{{ member.image }}" />
                {%- endunless -%}
            </div>
          </div>
          <div class="media-body">
            <div class="media-heading">{{ member.name }} (@{{ member.handle }})</div>
            <div class="media-heading"><em>{{ member.position }}</em></div>
            <div class="media-content">{{ member.description }}</div>
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- endfor -%}
</div>