---
layout: default
collection: ""
---
{%- if page.title -%}
{%- else -%}
<h1 class="title">{{ page.iterator }}</h1>
{%- endif -%}
{{content}}
{%- assign items = site[page.iterator] | compact | sort: "date" | reverse -%}
{%- if items != nil -%}
<ul class="listing">
{%- for item in items -%}
    <li><a href="{{ item.url }}">{{ item.title }}</a><br/><div class="author">by {{ item.author }}</div></li>
{%- endfor -%}
</ul>
{%- endif -%}
{%- if items.size == 0 and page.iterator != "home" -%}
<div class="alert alert-error">There don't appear to be any {{ page.iterator }} right now :(</div>
{%- endif -%}