---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="dark">
<div class="container">
    {% include header.html %}
    <div class="grid">
        <div class="content cell -12of12">
            <section class="main profile">
                <h1>{%- include return-to-kb.html minimal='1' -%}&nbsp;~{{ page.url }}</h1>
                {%- if page.external_url -%}
                <a href="{{page.external_url}}" title="go to: {{page.external_url}} (external link)" target="_blank"><h1 class="author-name">{{ page.title }}<sup><sup>↗</sup></sup></h1></a>
                {%- else -%}
                <h1 class="author-name">{{ page.title }}</h1>
                {%- endif -%}
                <div>
                    <div class="user-content">
                        {{content}}
                    </div>
                    {%- if page.htb -%}
                    <div class="hackthebox">
                        <a class="wrap" href="https://www.hackthebox.eu/profile/{{page.htb}}">
                            <img src="https://www.hackthebox.eu/badge/image/{{page.htb}}">
                        </a>
                    </div>
                    {%- endif -%}
                    {%- include contributions.html -%}
                </div>
            </section>
            {% include return-to-kb.html %}
        </div>
    </div>
    <div class="grid">
        {% include footer.html %}
    </div>
</div>
</body>
</html>